body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

@font-face {
  font-family: "Roboto";
  src: local("../public/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: local("../public/fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto";
  src: local("../public/fonts/Roboto-Bold.ttf");
}

.App {
  padding: 40px;
}

.todo-list__header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
  outline: none;
}

.todo-list__header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  transition: 0.3s;
}

.todo-list__header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todo-list {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todo-list li {
  color: #ffffff;
  background-color: rgba(240, 52, 52, 1);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  width: 265px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.todo-list li.done {
  background-color: rgba(42, 187, 155, 1);
}

.todo-list li:hover {
  cursor: pointer;
}
